# ===== C++ generic =====
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# ===== Visual Studio =====
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
x64/
x86/
build/

# Logs
*.log

# Temporary files
*.tmp
*.tlog
*.lastbuildstate